.container.mx-auto.px-2.py-4.flex.flex-col.justify-between.items-center
  %h2.text-xl.font-bold Sign up
  = form_with model: resource, as: resource_name, url: registration_path(resource_name) do |f|
    = render "devise/shared/error_messages", resource: resource
    .form-control
      .label= f.label :email, class: "label-text"
      = f.email_field :email, autocomplete: "email", class: "input input-bordered input-sm w-full max-w-xs"
    .form-control
      .label= f.label :password, class: "label-text"
      = f.password_field :password, autocomplete: "new-password", class: "input input-bordered input-sm w-full max-w-xs"
      %label.label
        %span.label-text-alt
          - if @minimum_password_length
            %em= "(#{@minimum_password_length} characters minimum)"
    .form-control
      .label= f.label :password_confirmation, class: "label-text"
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered input-sm w-full max-w-xs"
    .actions.text-center.mt-2
      = f.submit "Sign up", class: "btn btn-neutral"
  = render "devise/shared/links"