- content_for(:page_title) do
  = "#{@artist.name} @ #{@artist.library.name}"
= turbo_frame_tag "main" do
  .container.mx-auto.p-2
    %h1.font-bold.text-xl= @artist.library.name
    .breadcrumbs
      %ul
        %li= link_to t("library.my_libraries"), libraries_path
        %li= link_to @artist.library.name, library_path(@artist.library)
        %li= @artist.name
    = render(Artist::HighlightComponent.new(artist: @artist))
    .mt-4.flex.flex-wrap.gap-4
      = render(Album::CardComponent.with_collection(@artist.albums))