.card.w-64.bg-base-100.shadow-xl
  %figure
    = image_tag @artist.portrait_url
  .card-body
    %h2.card-title= link_to @artist.name,  library_artist_path(@artist, library_id: @artist.library.id), data: { turbo_frame: "main" }