.flex.flex-row.mt-3
  #artist-portrait.flex-shrink-0.w-64
    .avatar= image_tag portrait, class: "w-64 mask mask-squircle "
  #artist-info.px-4
    #artist-name.text-2xl.font-semibold
      = @artist.name
    #artist-story.font-light.mt-5.overflow-hidden.relative{data: {controller: "read-more"}}
      %p.relative.z-0.h-44.w-full{data: {"read-more-target" => "summary"}}
        = @artist.summary.html_safe if @artist.summary
      %span.absolute.z-10.bottom-0.w-full.h-16.bg-gradient-to-t.from-base-100{data: {"read-more-target" => "moreButton"}}
        %button.absolute.z-20.bottom-0.right-0.w-full{data: {action: "click->read-more#more"}}
          %span.text-neutral= t("display.read_more")
      %span.hidden.w-full.bg-gradient-to-t.from-base-200{data: {"read-more-target" => "lessButton"}}
        %button.text-neutral.w-full{data: {action: "click->read-more#less"}}= t("display.read_less")
    #artist-url
      = link_to "More to read on Last.fm", @artist.lastfm_url, target: :_blank