= turbo_stream.append dom_id(@folder.library, "folders") do
  = render(Folder::CardComponent.new(folder: @folder))
= turbo_stream.update dom_id(@folder.library, "new_folder"), ""
= render_turbo_stream_flash_messages