- flash.each do |flash_type, message|
  .alert.alert__message.w-full.max-w-sm.my-1{class: "alert-#{flash_type}", data: {controller: "removals", action: "animationend->removals#remove"}}
    %span= message