.navbar.bg-base-300
  .navbar-start
    .flex
      .btn.btn-ghost=link_to "Noizegrid", '/', class: "font-semibold normal-case text-xl"
  .navbar-center
    .flex
      .join
        .btn.btn-ghost.join-item= link_to "Artists", "#"
        .btn.btn-ghost.join-item= link_to "Albums", "#"
        .btn.btn-ghost.join-item= link_to "Now Playing", "#"
  .navbar-end
    .flex
      - if @current_user.nil?
        .flex.items-center
          .btn.btn-ghost= link_to_unless_current "Log in", new_user_session_path
          .btn.btn-ghost= link_to_unless_current "Register", new_user_registration_path
      - else
        .dropdown.dropdown-end
          %label.btn.btn-ghost.btn-circle.avatar{tabindex: "0"}
            .w-10.rounded-full
              = image_tag avatar, class: "btn btn-ghost btn-circle avatar rounded-full"
          %ul.mt-3.p-2.shadow.menu.menu-md.dropdown-content.bg-base-100.rounded-box.w-52{class: "z-[1]", tabindex: "0"}
            %li= link_to "Profile", "#"
            %li= link_to "Settings", "#"
            %li
              = button_to destroy_user_session_path, method: :delete, data: { turbo: false } do
                = t('navigation.logout')