.drawer
  %input#my-drawer.drawer-toggle{type: 'checkbox'}
  .drawer-content.flex.flex-col
    .navbar.w-full.bg-base-300
      .flex-none{class: "lg:hidden"}
        %label.btn.btn-square.btn-ghost{for: "my-drawer"}
          = bootstrap_icon "list", fill: "currentColor", class: "h-6 w-6", title: "Menu", alt: "Menu"
      .navbar-start
        .flex
          .btn.btn-ghost=link_to "Noizegrid", '/', class: "font-semibold normal-case text-xl"
      .hidden.navbar-center{class: "lg:flex"}
        .join
          .btn.btn-ghost.join-item= link_to t("artist.artists"), "#"
          .btn.btn-ghost.join-item= link_to t("album.albums"), "#"
          .btn.btn-ghost.join-item= link_to "Now Playing", "#"
      .hidden.navbar-end{class: "lg:flex"}
        - if @current_user.nil?
          .flex.items-center
            .join
              .btn.btn-ghost.join-item= link_to_unless_current "Log in", new_user_session_path
              .btn.btn-ghost.join-item= link_to_unless_current "Register", new_user_registration_path
        - else
          .dropdown.dropdown-end
            %label.btn.btn-ghost.btn-circle.avatar{tabindex: "0"}
              .w-10.rounded-full
                = image_tag avatar, class: "btn btn-ghost btn-circle avatar rounded-full"
            %ul.mt-3.p-2.shadow.menu.menu-md.dropdown-content.bg-base-100.rounded-box.w-52{class: "z-[1]", tabindex: "0"}
              %li= link_to "Profile", "#"
              %li= link_to "Settings", "#"
              %li
                = button_to destroy_user_session_path, method: :delete, data: { turbo: false } do
                  = t('navigation.logout')
    %main
      = turbo_frame_tag "main" do
        = content
  .drawer-side
    %label.drawer-overlay{for: "my-drawer"}
    %ul.menu.p-4.w-80.h-full.bg-base-200
      - if @current_user.nil?
        %li= link_to_unless_current "Log in", new_user_session_path
        %li= link_to_unless_current "Register", new_user_registration_path
      - else
        %li= link_to "Profile", "#"
        %li= link_to "Settings", "#"
        %li
          = button_to destroy_user_session_path, method: :delete, data: { turbo: false } do
            = t('navigation.logout')