.hidden{class: "only:block"}
  .flex.flex-col.items-center.border-8.border-stone-400.border-dashed.p-4
    .font-bold.text-xl.pb-4= t('library.no_library')
    .text-lg.pb-4= t('library.inform')
    .btn.btn-neutral= link_to t('library.new_library'), new_library_path, data: { turbo_frame: dom_id(Library.new) }