- content_for :page_title do
  = "Noizegrid #{t("library.my_libraries")}"
= turbo_frame_tag "main" do
  .container.mx-auto.p-2
    %h1.flex.items-center
      .font-bold.text-xl
        = t("library.my_libraries")
      .btn.btn-circle.btn-ghost
        = link_to new_library_path, data: { turbo_frame: dom_id(Library.new) } do
          = bootstrap_icon "plus-circle", fill: "currentColor", class: "h-6 w-6", title: 'Add a Library', alt: "Add a Library"
    = turbo_frame_tag dom_id(Library.new)
    = turbo_frame_tag "libraries", class: "flex flex-wrap space-x-2 space-y-2" do
      = render "libraries/empty_state"
      = render(Library::CardComponent.with_collection(@library))