- content_for(:page_title) do
  = @library.name
= turbo_frame_tag "main" do
  .container.mx-auto.p-2
    %h1.font-bold.text-xl= @library.name
    .breadcrumbs
      %ul
        %li= link_to t("library.my_libraries"), libraries_path
        %li= link_to @library.name, library_path(@library)
    %ul.menu.bg-base-300.rounded-box{class: "menu-horizontal"}
      %li=link_to t("artist.artists"), library_artists_path(library_id: @library.id), data: { turbo_frame: "main" }
      %li=link_to t("album.albums"), library_albums_path(library_id: @library.id), data: { turbo_frame: "main" }
    %h2.font-semibold.text-lg= t("library.recently_added")
    %h2.font-semibold.text-lg= t("library.recently_released")
    %h2.font-semibold.text-lg= t("library.recently_updated")