= turbo_frame_tag dom_id(@library) do
  .card.w-96.bg-base-100.shadow-xl
    .card-body
      .card-title= link_to @library.name, library_path(@library), data: { turbo_frame: "_top" }
      .flex.flex-col
        = turbo_frame_tag dom_id(@library, "new_folder")
        = turbo_frame_tag dom_id(@library, "folders") do
          = render(Folder::CardComponent.with_collection(@library.folders))
      .card-actions.justify-end
        .btn.btn-circle.btn-ghost.btn-sm
          = link_to new_folder_path(library: @library), data: { turbo_frame: dom_id(@library, "new_folder") } do
            = bootstrap_icon "folder-plus", fill: "currentColor", class: "h-4 w-4", title: 'Add a Folder', alt: "Add a Folder"
        .btn.btn-circle.btn-ghost.btn-sm
          = button_to library_path(@library), method: :patch, data: { turbo_frame: "_self" } do
            = bootstrap_icon "arrow-repeat", fill: "currentColor", class: "h-4 w-4", title: 'Scan Library', alt: "Scan Library"
        .btn.btn-circle.btn-ghost.btn-sm
          = button_to library_path(@library), method: :delete, data: { confirm: "Are you sure?" } do
            = bootstrap_icon "trash", fill: "currentColor", class: "h-4 w-4", title: 'Delete Library', alt: "Delete Library"