= turbo_frame_tag dom_id(@library) do
  .max-w-xs
    = form_with model: @library do |f|
      - if @library.errors.any?
        .error-message= @library.errors.full_messages.to_sentence.capitalize
      .form-control
        .label= f.label :name, t('library.library_name'), class: "label-text"
        = f.text_field :name, autofocus: true, class: "input input-bordered input-sm w-full max-w-xs"
      .mt-2.flex.justify-end.content-center
        .mr-2.button{class: "btn"}
          = link_to t('library.cancel'), libraries_path
        = f.submit class: "btn btn-neutral"