.card.w-48.bg-base-100.shadow-xl.image-full
  %figure
    = image_tag @album.cover_url
  .card-body
    %h2.card-title= link_to @album.title, library_album_path(@album, library_id: @album.library.id), data: { turbo_frame: "main" }
    %p= link_to @album.artist.name,  library_artist_path(@album.artist, library_id: @album.library.id), data: { turbo_frame: "main" }
    .card-actions.justify-end
      = render(Display::IconButtonComponent.new(icon: "play-circle"))