.flex.flex-row.mt-3
  #album-cover.flex-shrink-0.w-64
    .avatar= image_tag portrait, class: "w-64 mask rounded"
  .px-4
    .flex.justify-between
      #album-info
        #album-title.text-2xl.font-semibold= "#{@album.title} (#{@album.date})"
        #album-artist= link_to @album.artist.name, library_artist_path(@album.library, @album.artist)
      #album-actions.flex
        = render(Display::IconButtonComponent.new(icon: "pencil-square"))
        = render(Display::IconButtonComponent.new(icon: "play-circle"))
    #album-story.font-light.mt-5.overflow-hidden.relative{data: {controller: "read-more"}}
      %p.relative.z-0.h-44.w-full{data: {"read-more-target" => "summary"}}
        = @album.summary.html_safe if @album.summary
      %span.absolute.z-10.bottom-0.w-full.h-16.bg-gradient-to-t.from-base-100{data: {"read-more-target" => "moreButton"}}
        %button.absolute.z-20.bottom-0.right-0.w-full.bg-gradient-to-t.from-base-100{data: {action: "click->read-more#more"}}
          %span.text-neutral= "Read More"
      %span.hidden.w-full{data: {"read-more-target" => "lessButton"}}
        %button.text-neutral.w-full{data: {action: "click->read-more#less"}}Read Less
    #album-url
      = link_to "More on Last.fm", @album.lastfm_url, target: :_blank