- content_for(:page_title) do
  = "#{@library.name} - #{t("album.albums")}"
= turbo_frame_tag "main" do
  .container.mx-auto.p-2
    %h1.font-bold.text-xl= @library.name
    .breadcrumbs
      %ul
        %li= link_to t("library.my_libraries"), libraries_path, data: { turbo_frame: "main" }
        %li= link_to @library.name, library_path(@library), data: { turbo_frame: "main" }
        %li= t("album.albums")
    .flex.flex-wrap.gap-4
      = render(Album::CardComponent.with_collection(@library.albums))