- content_for(:page_title) do
  = "#{@album.title} by #{@album.artist.name}"
= turbo_frame_tag "main" do
  .container.mx-auto.p-2
    %h1.font-bold.text-xl= @album.library.name
    .breadcrumbs
      %ul
        %li= link_to t("library.my_libraries"), libraries_path
        %li= link_to @album.library.name, library_path(@album.library)
        %li= @album.title
    = render(Album::HighlightComponent.new(album: @album))
    .mt-4.grid.grid-cols-9.gap-2.items-center
      .font-bold Disc #
      .font-bold Track #
      .font-bold.col-span-4 Title
      .font-bold Duration
      .font-bold.col-span-2 Actions
      = render(Track::RowComponent.with_collection(@album.tracks))