.track-disc.w-12= @track.disc
.track-number.w-12= @track.track
.track-title.col-span-4= @track.title
.track-duration= track_duration(@track.duration)
.track-actions.col-span-2
  .flex.items-center
    = render(Display::IconButtonComponent.new(icon: "play-circle", size: "small"))
    = render(Display::IconButtonComponent.new(icon: "plus-circle", size: "small"))
    = render(Display::IconButtonComponent.new(icon: "node-plus", size: "small"))
    = render(Display::IconButtonComponent.new(icon: "broadcast-pin", size: "small"))
    = render(Display::IconButtonComponent.new(icon: "three-dots", size: "small"))