= turbo_frame_tag dom_id(@folder) do
  .flex
    .text-sm= @folder.path
    .btn.btn-circle.btn-ghost.btn-sm
      = button_to folder_path(@folder), method: :delete, data: { confirm: "Are you sure?" } do
        = bootstrap_icon "folder-minus", fill: "currentColor", class: "h-4 w-4", title: 'Delete Folder', alt: "Delete Folder"