= turbo_frame_tag dom_id(@library, "new_folder") do
  .max-w-xs
    = form_with model: @folder do |f|
      - if @folder.errors.any?
        .error-message= @folder.errors.full_messages.to_sentence.capitalize
      = f.hidden_field :library_id, value: @library.id
      .form-control
        .label= f.label :path, t('folder.folder_path'), class: "label-text"
        = f.text_field :path, autofocus: true, class: "input input-bordered input-sm w-full max-w-xs"
      .mt-2.flex.justify-end.content-center
        .mr-2.button{class: "btn"}
          = link_to t('folder.cancel'), "#"
        = f.submit class: "btn btn-neutral"