.container.mx-auto.px-2.py-4.flex.flex-col.justify-between.items-center
  %h2.text-xl.font-bold Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-control
      .label= f.label :email, class: "label-text"
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered input-sm w-full max-w-xs"
    .form-control
      .label= f.label :password, class: "label-text"
      = f.password_field :password, autocomplete: "current-password", class: "input input-bordered input-sm w-full max-w-xs"
    - if devise_mapping.rememberable?
      .form-control
        %label.label.cursor-pointer
          = f.check_box :remember_me, class: "checkbox"
          %span.label-text= f.label :remember_me
    .actions.text-center
      = f.submit "Log in", data: { turbo: 'false' }, class: "btn btn-neutral"
  = render "devise/shared/links"