!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= yield :page_title
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "https://unpkg.com/daisyui@latest/dist/full.css", cache: true
    = stylesheet_link_tag "https://unpkg.com/trix@latest/dist/trix.css", cache: true
    = javascript_importmap_tags
  %body
    #scroll-progress{"data-controller" => "scroll-progress", class: ""}
    #flash.fixed.z-50.top-5.right-5.flex.flex-col.justify-center
      = render(Layout::FlashComponent.new(user: current_user, flash: flash))
    #navbar
      = render(Layout::NavbarDrawerComponent.new(user: current_user)) do
        = yield
